<link rel="stylesheet" href="../../css/output.css" />

<div class="footer p-9 flex bg-gray-800 text-white justify-between">
  <div class="flex flex-col items-center">
    <p>Location</p>
    <p>2215 John Daniel Drive</p>
    <p>Clark, MO 65243</p>
  </div>
  <div class="flex flex-col items-center">
    <p>AROUND THE WEB</p>
    <div>
      <a class="p-2">
        <fa-icon [icon]="faTwitter" class=""> </fa-icon>
      </a>
      <a class="p-2">
        <fa-icon [icon]="faTwitter" class=""> </fa-icon>
      </a>
      <a class="p-2">
        <fa-icon [icon]="faTwitter" class=""> </fa-icon>
      </a>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <h3>ABOUT FREELANCER</h3>
    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
  </div>
</div>
