<link rel="stylesheet" href="../../css/output.css" />

<section class="">
  <form action="" class="w-1/2 mx-auto">
    <label for="userName" class="">UserName</label>
    <input type="text" id="userName" name="userName" class="" />
    <label for="userAge" class="">userAge</label>
    <input type="number" id="userAge" name="userAge" class="" />
    <label for="userEmail" class="">userEmail</label>
    <input type="email" id="userEmail" name="userEmail" class="" />
    <label for="userPassword" class="">userPassword</label>
    <input type="password" id="userPassword" name="userPassword" class="" />
    <input type="submit" class="btn" />
  </form>
</section>
