<link rel="stylesheet" href="../../css/output.css" />

<div class="bg-green-600 text-white flex flex-col items-center">
  <h2 class="uppercase">portfolio component</h2>
  <div class="flex items-center gap-2">
    <div class="bg-white w-8 h-1"></div>
    <fa-icon [icon]="faStar"></fa-icon>
    <div class="bg-white w-8 h-1"></div>
  </div>
  <div class="container">
    <div class="flex justify-around flex-wrap gap-3">
      @for (card of portfolioItems; track $index) {
      <app-card class="w-[30%] justify-center" (click)="openModal()">
        <img [src]="card.image" alt="" class="w-100 rounded-2xl peer/test" />
      </app-card>
      }
    </div>
  </div>
</div>
