<link rel="stylesheet" href="../../css/output.css" />

<div class="bg-green-600 text-white flex flex-col items-center">
  <h2 class="uppercase">portfolio component</h2>
  <div class="flex items-center gap-2">
    <div class="bg-white w-8 h-1"></div>
    <fa-icon [icon]="faStar"></fa-icon>
    <div class="bg-white w-8 h-1"></div>
  </div>
  <div class="container">
    <div class="flex justify-between">
      @for (card of cards; track $index) { }
      <app-card class="w-1/3 flex justify-center"> </app-card>

      <app-card class="w-1/3 flex justify-center"></app-card>

      <app-card class="w-1/3 flex justify-center"></app-card>
    </div>
    <br />
    <div class="flex justify-between">
      <app-card class="w-1/3 flex justify-center"></app-card>

      <app-card class="w-1/3 flex justify-center"></app-card>

      <app-card class="w-1/3 flex justify-center"></app-card>
    </div>
  </div>
</div>
