<div class="pt-[100px] bg-green-600 text-white flex flex-col items-center">
  <h2 class="uppercase text-5xl">portfolio component</h2>
  <div class="flex items-center gap-2">
    <div class="bg-white w-8 h-1"></div>
    <fa-icon [icon]="faStar"></fa-icon>
    <div class="bg-white w-8 h-1"></div>
  </div>
  <div class="container">
    <div class="flex justify-around flex-wrap gap-3 columns-3">
      @for (card of portfolioItems; track $index) {
      <div class="card relative cursor-pointer" (click)="showModal(card.image)">
        <img [src]="card.image" alt="" class="w-100 rounded-2xl peer" />
        <div
          class="bg-amber-500 rounded-2xl inset-0 absolute opacity-0 justify-center peer-hover:opacity-100"
        >
          <span class="text-9xl" style="align-self: center">+</span>
        </div>
      </div>
      }
    </div>
    @if(isModalOpen){
    <app-modal [image]="currentImage" (closeModal)="hideModal()" />
    }
  </div>
</div>
